
.navbar {
    margin: 0%;
    padding: 0%;
    height: 7vh;
    background-image: url(./tropical-green-leaves-background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    
  }

  
  .logo {
    font-family: "Lobster", cursive;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    margin: 0%;
    padding: 0%;
  }